.greetings {
    padding: 10vh;
    background-image: url("/image/background-photo.jpg");
    background-color: pink;
    background-position: top;
    background-size: cover;
}

.greetings > h1 {
    padding-bottom: 3vh;
}

.greetings > h2 {
    padding-top: 3vh;
}

.photo {
    max-width: auto;
    height: 30vh;
    margin-left: -2.5vh
}

.galeri-ssh-img {
    max-height: auto;
    width: 100%;
    margin-left: -0.1vh
}

.surat-hwa {
    padding: 10vh;
}

.surat-hwa > h3 {
    font-size: 5vh;
}

.surat-hwa > p {
    font-size: 2vh;
}

.download-button > h4 {
    font-size: 1.5vh;
    padding-top: 2vh;
    padding-bottom: 2vh;
    background-color: pink;
}

a:link {
    color: black;
    text-decoration: none;
}

.penutup {
    padding: 3vh;
    background-color: pink;
    color: black;
}